#header{
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content:
}

#logo{
  color: MediumAquamarine;
  display: flex;
}

#nav{
  display: flex;
  justify-content: flex-end;
  display: inline-block;
}
